* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4f5d73;
	height: 100vh;
	background: #4f5d73;
}

h1 {
	font-size: 3rem;
	padding-bottom: 2rem;
	color: white;
}

#logo {
	margin: 0.5rem auto 0 auto;
}

.header-container {
	text-align: center;
	display: grid;
	grid-template-rows: auto;
}

.input-label {
	font-size: 1.8rem;
	display: grid;
	place-items: center;
	width: auto;
}

.search-input {
	border-radius: 6px;
	border-style: none;
	background: white;
}

.search-input,
.submit-button {
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 1rem;
	width: 18rem;
	height: 3rem;
}

.submit-button {
	font-size: 1.2rem;
	font-weight: bold;
	width: 8rem;
	border-radius: 12px;
	border-style: none;
	background: #e0995e;
	color: white;
}

.submit-button:hover {
	color: #4f5d73;
	background: white;
}

.weather-card {
	width: 500px;
	height: 700px;
	border-radius: 8px;
	background: white;
	margin: 2rem auto;
	display: grid;
	text-align: center;
	grid-template-rows: repeat(5, max-content);
}

.weather-card-title {
	padding: 2.5rem;
	font-size: 3rem;
}

.weather-card-current-weather-img {
	display: block;
	margin: auto;
}

.weather-state-name {
	margin: 1.2rem;
	font-size: 1.5rem;
}

.weather-card-temp-low {
	color: rgb(52, 140, 255);
	font-size: 4rem;
	margin-top: 1rem;
}

.weather-card-temp-normal {
	color: #4f5d73;
	font-size: 4rem;
	margin-top: 1rem;
}

.weather-card-temp-high {
	color: rgb(255, 66, 66);
	font-size: 4rem;
	margin-top: 1rem;
}

.weather-card-time {
	font-size: 2rem;
	margin: 2.8rem;
}

.weather-card-times {
	display: flex;
	justify-content: space-evenly;
}

.weather-card-sunrise-sunset {
	font-size: 1.4rem;
}

@media screen and (max-width: 500px) {
	.header-container {
		display: grid;
		grid-template-columns: 0.5fr 1fr;
		place-items: center;
		width: 100%;
	}

	h1 {
		display: inline;
		font-size: 2.6rem;
		padding-bottom: 0;
	}

	#logo {
		margin: auto;
	}

	.input-label {
		font-size: 1.8rem;
		display: grid;
		grid-template-columns: max-content 1fr;
		place-items: center;
		width: 100vw;
	}

	.submit-button {
		margin: 0;
	}

	.weather-card {
		width: 90vw;
		height: 650px;
		border-radius: 8px;
		background: white;
		margin: 2rem auto;
		display: grid;
		text-align: center;
		grid-template-rows: repeat(5, max-content);
	}

	.weather-card-current-weather-img {
		width: 120px;
	}
}
