* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	height: 100vh;
	background: #4f5d73;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-size: 3rem;
	padding-bottom: 2rem;
}

#logo {
	margin: 0.5rem auto 0 auto;
}

.header-container {
	text-align: center;
	display: grid;
	grid-template-rows: auto;
}

.input-label {
	font-size: 1.8rem;
	display: grid;
	place-items: center;
	width: auto;
}

.search-input {
	border-radius: 6px;
	border-style: none;
	background: white;
}

.search-input,
.submit-button {
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 1rem;
	width: 18rem;
	height: 3rem;
}

.submit-button {
	font-size: 1.2rem;
	font-weight: bold;
	width: 8rem;
	border-radius: 12px;
	border-style: none;
	background: #ff9d4d;
	color: white;
}

.submit-button:hover {
	color: #4f5d73;
	background: white;
}

.weather-card {
	width: 500px;
	height: 700px;
	border: 2px solid white;
	border-radius: 8px;
	background: white;
	margin: 3rem auto;
}
