* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4f5d73;
	height: 100vh;
	background: #4f5d73;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-size: 3rem;
	padding-bottom: 2rem;
	color: white;
}

#logo {
	margin: 0.5rem auto 0 auto;
}

.header-container {
	text-align: center;
	display: grid;
	grid-template-rows: auto;
}

.input-label {
	font-size: 1.8rem;
	display: grid;
	place-items: center;
	width: auto;
}

.search-input {
	border-radius: 6px;
	border-style: none;
	background: white;
}

.search-input,
.submit-button {
	font-size: 1.5rem;
	padding: 0.5rem;
	margin: 1rem;
	width: 18rem;
	height: 3rem;
}

.submit-button {
	font-size: 1.2rem;
	font-weight: bold;
	width: 8rem;
	border-radius: 12px;
	border-style: none;
	background: #e0995e;
	color: white;
}

.submit-button:hover {
	color: #4f5d73;
	background: white;
}

.weather-card {
	width: 500px;
	height: 700px;
	border-radius: 8px;
	background: white;
	margin: 2rem auto;
	display: grid;
	grid-template-rows: repeat(5, max-content);
}

.weather-card-title {
	padding: 2.5rem;
	font-size: 3rem;
}

.weather-card-current-weather-img {
	display: block;
	margin: auto;
}

.weather-state-name {
	margin: 1.2rem;
	font-size: 2rem;
}

.weather-card-temp {
	color: #4f5d73;
	font-size: 5.5rem;
	margin-top: 1rem;
}

.weather-card-time {
	font-size: 2rem;
	margin: 2.8rem;
}

.weather-card-times {
	display: flex;
	justify-content: space-around;
}

.weather-card-sunrise-sunset {
	font-size: 1.4rem;
}
